atm_refl2.txt
atm_refl.txt
dbl_trans.txt
down_trans.txt
down_up_trans.txt
figures/
g2_ch2o_v5.3_hdf_conv.sh
g2_ch2o_v5.3_hdf_ocra_ingest.py
input_atm_path.inp
input_atm_path_slit.inp
input_atm_refl.inp
input_dbl_trans.inp
input_down_trans.inp
input_exp_arve.inp
input_exp.inp
input.inp
input_sph_alb.inp
input_sph_alb.inp~
input_up_trans.inp
old/
randomseed
sph_alb2.inp
sph_alb2.inp~
sph_alb.inp
sph_alb.inp~
sph_alb.txt
test.txt
up_trans.txt
LUT_*.p

